nav {
  height: 38em; }
  nav span a {
    margin: 2em;
    color: black; }
  nav section.nav-top {
    text-align: center; }
  nav h1 {
    padding-top: 2em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .05em; }
  nav p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 10em 1em;
    letter-spacing: .06em;
    line-height: 1.5; }

.projects {
  padding-top: 1em; }
  .projects .instagram-clone {
    background-color: #ECBA45; }
    .projects .instagram-clone img {
      width: 100%;
      margin-top: 5em; }
    .projects .instagram-clone div .block span {
      background-color: #F5E1A8; }
  .projects .nenas-website {
    background-color: #EC8830; }
    .projects .nenas-website img {
      width: 100%;
      margin-top: 5em; }
    .projects .nenas-website div .block span {
      background-color: #FCE7C9; }
  .projects .snap-grid-website {
    background-color: #0AA27B; }
    .projects .snap-grid-website img {
      width: 100%;
      margin-top: 5em; }
    .projects .snap-grid-website div .block span {
      background-color: #6DB492; }
  .projects h1 {
    text-align: center;
    padding: .5em; }
  .projects .text-content p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .06em;
    line-height: 1.5;
    color: white;
    padding: 2em; }
  .projects div .links {
    padding: 3em 2em 4em;
    text-align: center; }
    .projects div .links a {
      margin: 2em;
      color: white; }
  .projects div.block {
    text-align: center; }
    .projects div.block span {
      background-color: #AFAEAB;
      margin: .2em;
      border-radius: 5%;
      padding: 0.5em; }
  .projects p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: .06em; }

footer {
  height: 10em;
  background-color: white;
  text-align: center; }
  footer a {
    color: black;
    padding-bottom: 1em; }
  footer h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: .05em;
    padding-top: 2em; }

@media (min-width: 800px) {
  nav p {
    padding: 10em 8em; }

  .projects .instagram-clone {
    overflow: hidden; }
    .projects .instagram-clone img {
      width: 60%;
      float: left; }
    .projects .instagram-clone .text-content {
      float: right;
      width: 40%;
      padding-top: 2em;
      padding-bottom: 1em; }
      .projects .instagram-clone .text-content .links {
        padding: 1em 0 2em; }
        .projects .instagram-clone .text-content .links a {
          margin: 1em; }
  .projects .nenas-website {
    overflow: hidden; }
    .projects .nenas-website img {
      width: 60%;
      float: left; }
    .projects .nenas-website .text-content {
      float: right;
      width: 40%;
      padding-top: 2em;
      padding-bottom: 1em; }
      .projects .nenas-website .text-content .links {
        padding: 1em 0 2em; }
        .projects .nenas-website .text-content .links a {
          margin: 1em; }
  .projects .snap-grid-website {
    overflow: hidden; }
    .projects .snap-grid-website img {
      width: 60%;
      float: left; }
    .projects .snap-grid-website .text-content {
      float: right;
      width: 40%;
      padding-top: 2em;
      padding-bottom: 1em; }
      .projects .snap-grid-website .text-content .links {
        padding: 1em 0 2em; }
        .projects .snap-grid-website .text-content .links a {
          margin: 1em; } }
@media (min-width: 979px) {
  nav p {
    padding: 10em 20em; }

  .projects .instagram-clone {
    padding-bottom: 2em; }
    .projects .instagram-clone .text-content {
      padding-top: 9em; }
  .projects .nenas-website {
    padding-bottom: 2em; }
    .projects .nenas-website .text-content {
      padding-top: 9em; }
  .projects .snap-grid-website {
    padding-bottom: 2em; }
    .projects .snap-grid-website .text-content {
      padding-top: 9em; }

  footer a {
    padding-bottom: 4em; }
  footer h2 {
    padding-top: 3em; } }

/*# sourceMappingURL=main.css.map */
