nav{
	padding-top: 2em;
	height: 36em;

		span a{
			margin:2em;
			color: black;	
		}
		section.nav-top{
			text-align: center;
			
		}
		h1{

			padding-top: 2em;
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			letter-spacing: .05em;

		}
		p{
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			font-size: 18px;
			font-weight: 300;

			padding: 8em 2em;
			letter-spacing: .06em;
			line-height: 1.5;
		
		}
}

.projects{
	padding-top: 1em;

	.instagram-clone{
			background-color:#ECBA45;
				img{
					padding:3em 3em 0em;
					width: 80%;
					margin-top: 3em;
				}
				div .block span{
					background-color:#F5E1A8;
				}
			}
	.nenas-website{
			background-color: #EC8830;
				img{
					padding:3em 3em 0em;
					width: 80%;
					margin-top: 3em;
				}
				div .block span{
					background-color: #FCE7C9;
				}
			}
	.snap-grid-website{
			background-color:#0AA27B;
				img{
					padding:3em 3em 0em;
					width: 80%;
					margin-top: 3em;
				}
				div .block span{
					background-color:#6DB492;
				}
				
			}
	h1{
		text-align: center;
		padding: .5em;

	}
	.text-content p{
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: 300;
		letter-spacing: .06em;
		line-height: 1.5;
		color:white;
		padding: 2em;	
			
	}

	div.links{
		padding:3em 8em 4em;
	}
	
	a{
		color: red;
		margin-right: 1em;
		
		}

	div.block{
		text-align: center;
		span{
			background-color: #AFAEAB;
			margin: .2em;
			border-radius: 5%;
			padding:.5em ;
		}
	}
	
	p{
		color:white;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		padding-left: 1em;
		padding-right: 1em;
		letter-spacing: .06em;
			
	}

	a{
		color: white;
		margin: 1em;
	}

}

footer{
	height: 10em;
	background-color:white;
	text-align: center;
	a{
		color:black;
	}	
	h2{
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		
		letter-spacing: .05em;
		padding-top: 2em;
	}


}




