

body {
	font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  letter-spacing:1px;
	margin: 0;
	min-height: 100vh;
}

a{
  text-decoration:none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul

.logo {
	margin: 0;
  font-size: 1.45em;
  padding: 10px 15px;
  
}

.main-nav {
	margin-top: 5px;

}
.logo a,.main-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.main-nav a {
  font-size: .99em;
  text-decoration: none;
}

.header {
	padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 15em;
  padding-right: 12em;
  background-color: #ffffff;
  color: #ce8686;
  margin:6em auto;
  align-items: baseline;
}

li a{
  color: #ce8686
}


section.projects{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

div.project{
  position: relative;
  margin:3.5em 0 0 3.5em;
  text-align: center;
  display: flex;
}

.project:hover .overlay {
  opacity: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#ffffff;
  padding-top:10px;
  font-family: 'Montserrat', sans-serif;
}


img{
  width:450px;
  height:550px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#ce8686;
}

.overlay h1{
  align-items: flex-end;
  margin-top: 120px;
}

.overlay a{
  color:#ffffff;
}
div.block{
  align-items: flex-end;
}

.overlay p{
  align-items: flex-end;
  padding:20px;
}

section.info{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: flex-end;
}

div.contact{
  margin:10px 0 30px;
}
div.intro{
  flex-direction: row;
}

i.fa{
  color:#ce8686;
}

.myface {
  flex-direction: row;
}
.myface img{
  border-radius:50%;
  height: 200px;
  width: 200px;
  align-self: flex-end;
}

footer{
  height: 40px;
}

/* ================================= 
  Media Queries
==================================== */


@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}


@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
  }
  
  /* div.project{
    position: relative;
    margin:1.5em;
  }

  section.projects {
    width: 100%;
  } */

}


/* @media (min-width: 1065px){
  section.projects {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

} */























   